html{
    font-family:Arial,Helvetica,sans-serif;
    background-color:#f4f4f4
    
    }
.container{
    width:80%;
    margin:auto;
}
.time-span{
    font-style:italic; 
    font-size:8;
    border-radius:15px; 
    padding:5px 10px 5px 10px;
    background-color:#66ccff;
    
}

li{
    color: #ff3300;
    padding:5px;
    margin-bottom:10px;
    background-color:#66ff99;
    border:15px solid #ffcc00;
}

h1 {
    text-align: center;
    color: #ff9966;
}
ul {
    list-style: none;
    padding:25px;
    margin:15px;
    background-color:#66ff99;
    box-shadow:7px 7px 7px #3366cc;
}

    
    
    
    
    
